.reference-page {
    .title {
        color: #3A3A3A;
        font-size: 28px;
        font-weight: 700;
        margin: 24px 0 20px 25px;
    }

    .page-body {
        .page-content {
            .search {
                justify-content: flex-start;

                .label {
                    white-space: nowrap;
                    color: #5A5A5A;
                    font-size: 13px;
                    font-weight: 500;
                    line-height: 24px;
                    margin: 0 50px 0 0;
                }

                .field {
                    border-radius: 5px;
                    max-width: 400px;
                    border: 1px solid #E7E7E7;
                    background: #FFF;
                    padding: 5px 16px;
                    font-size: 13px;
                    font-weight: 500;
                    color: #7A7A7A;

                    &::placeholder {
                        color: #CCC;
                    }

                    &.first {
                        margin-right: 34px;
                    }
                }

                button {
                    color: #7653DF;
                    font-size: 13px;
                    font-weight: 500;
                    padding: 5px 20px;
                    border-radius: 5px;
                    background: #EEEAFB;
                    white-space: nowrap;
                    margin-left: 6px;
                }
            }

            .reference-list {
                margin: 40px 0;

                table {
                    width: 100%;


                    thead {
                        border-top: 1px solid #98A6AD;
                        background: #FCFCFC;
                    }

                    tr {
                        &:hover {
                            background: #EEEAFB;
                            cursor: pointer;
                        }

                        td {
                            text-align: center;
                            color: #5A5A5A;
                            font-size: 13px;
                            padding: 11px 0;
                            font-weight: 500;
                            line-height: 24px;
                        }
                    }

                    tbody {
                        tr {
                            border-top: 1px solid #E7E7E7;

                            td {
                                font-size: 12px;

                                a {
                                    color: #2D9CDB;
                                }
                            }
                        }
                    }
                }
            }

            .pagination {
                margin-top: 20px;
                margin-bottom: 0;
            }
        }
    }
}