.social-media-h {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
  
    a {
      width: 40px;
      height: 40px;
    
      svg {
        width: 24px;
        height: 24px;
  
        circle {
          fill: transparent;
          stroke: #ccc;
          stroke-width: 1;
          transition: stroke 0.4s;
        }
  
        path {
          fill: #3A3A3A;
          transition: fill 0.4s;
        }
      }
  
      &:hover {
        border-color: #8E66FF;
  
        svg {
          circle {
            stroke: #8E66FF;
          }
  
          path {
            fill: #8E66FF;
          }
        }
      }
    }
  }
  