@font-face {
  font-family: "Preterdard";
  src: url("/assets/fonts/pretendart/Pretendard-Regular.otf"), format("otf");
}

* {
  box-sizing: border-box;
}


.statusModal *:focus-visible {
  outline: none;
  box-shadow: none;
}


body {
  min-height: 100vh;

  * {
    font-weight: 500;
    color: #3A3A3A;
    font-family: "Preterdard";
    // font-family: "Pretendard", sans-serif !important;
  }

  hr {
    background-color: #E7E7E7;
    opacity: 1;
    margin: 0;
  }

  .page-content {
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.10);
    padding: 30px;

  }

  img {
    transition: 0.3s;
  }

  .btn {
    outline: none;
    box-shadow: none;
    display: flex;
    align-items: center;
    transition: 0.3s linear;
    background-color: #fff;
    font-weight: 500;

    &:focus {
      box-shadow: none;
    }
  }

  a {
    transition: 0.3s linear;

    &:hover {
      color: #6C45DC;
    }
  }

  // .container {
  //   max-width: 1436px;
  // }

  input,
  select,
  textarea {
    outline-color: rgb(143, 102, 255);
    color: #3A3A3A;
    width: 100%;
    text-overflow: ellipsis;

    &::placeholder {
      color: #637381;
    }

    &:disabled {
      color: #7A7A7A !important;
      background: #F0F0F0 !important;
    }
  }

  .flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .flex-around {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &:has(>.ReactModalPortal) {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100vh;
  }

  &:has(.main-menu.active) {
    .header {
      // .header-top {
      //   position: fixed;
      //   top: 0;
      //   left: 0;
      //   right: 0;
      //   width: 100%;
      //   z-index: 13;

      //   .left-side,
      //   .right-side .btn {
      //     opacity: 0;
      //   }

      // }
    }
  }
}

.MuiInputBase-input {
  height: 16px !important;
  min-height: unset !important;
  padding: 8px 16px !important;
  text-transform: lowercase;
  color: #7A7A7A!important;
  background: #FFF !important;
  font-size: 13px !important;
  font-weight: 500!important;
}

.MuiInputBase-root .MuiInputAdornment-root {
  margin-left: 0;
}

.css-1yq5fb3-MuiButtonBase-root-MuiIconButton-root {
  display: contents!important;
}

.css-i4bv87-MuiSvgIcon-root {
  fill: #987EE7!important
}

.css-z3c6am-MuiFormControl-root-MuiTextField-root {
  width: 100%;
}

// fieldset, textarea {
//   outline: none !important;
//   border-radius: 5px !important;
//   border-color: #e7e7e7 !important;
// }

.Mui-focused > fieldset {
  outline: none !important;
  border-color: #9e85e7 !important;
}

.mobile {
  &.btn {
    display: none;
  }

  display: none;
}

.section-9 .ml {
  margin-left: 20px!important;
}

.fc .fc-daygrid-event-harness-abs {
  left: 0px!important;
  right: 0px!important;
  top: 0px!important;
}

@media(max-width:767px) {
  .desktop {
    display: none!important;
  }

  .mobile {
    display: block;

    &.btn {
      display: inline-block;
    }
  }

  .ReactModal__Overlay {
    .ReactModal__Content {
      // bottom: 0px !important;
      // top: unset !important;
      // transform: translate(-50%, 0) !important;
      border-radius: 10px 10px 0px 0px !important;
      width: 100% !important;
    }
  }

}